:host {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-top: 0;
    margin-bottom: 0;
}

::ng-deep .mat-expansion-panel-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

mat-list-item {
    padding: 0px !important;
}

::-webkit-scrollbar {
    width: 0px;
}

::ng-deep .mat-expansion-panel-body {
    padding-right: 0px !important;
}
::ng-deep .mat-list-item-content {
    padding-left: 10px !important;
    column-gap: 10px;
}
::ng-deep .mat-content {
    column-gap: 10px;
    align-items: center;
}

::ng-deep .mat-expansion-panel {
    border-radius: 0 !important;
}

::ng-deep .mat-expansion-panel-header {
    height: 48px !important;
    padding: 0 10px !important;
    color: rgba(0,0,0,1) !important;
}

.hide-arrow ::ng-deep .mat-expansion-indicator {
    display: none;
}

 .menu {
    /* border-bottom: thin solid rgb(223, 213, 213); */
    /* padding: 0; */
    background-color: white;
}
/* ::ng-deep .mat-expansion-panel-header {
    background-color: rgb(120, 126, 194) !important;
}
::ng-deep .mat-expansion-panel-body {
    background-color: rgb(120, 126, 194) !important;
}
::ng-deep .mat-expansion-panel {
    background-color: rgb(120, 126, 194) !important;
} */


.nested-menu {
    padding: 0 0;
    /* border-bottom: thin solid rgb(223, 213, 213); */
}

.nested-menu div {
    flex-shrink: 0;
}

.submenu {
    padding: 10px 0px;
    padding-left: 10px;
    /* border-bottom: thin solid rgb(223, 213, 213); */
    display: flex;
    align-items: center;
    column-gap: 10px;
    /* border-radius: 5px; */
    overflow: hidden;
} 

.submenu div {
    flex-shrink: 0;
}

.rootMenu {
    display: flex; 
    align-items: center; 
    column-gap: 10px; 
    width: 100%;
    height: 100%;
}

.submenu:hover {
    background-color: rgb(237, 230, 230);
}

.hoverEffect:hover {
    background-color: rgb(237, 230, 230);
}

::ng-deep .mat-expansion-panel-header:hover {
    background-color: rgb(237, 230, 230) !important;
}


/*  =======   */

::ng-deep .mat-list-item {
    /* margin: 10px 0; */
    /* border-radius: 5px; */
}
::ng-deep .mat-nav-list {
    margin: 0 10px !important;
    overflow: hidden;
}

.vertical-spacing {
    /* margin: 10px 0 !important; */
    /* border-radius: 5px !important; */
}


.icons-collapse {
    font-size: 14px;
    transition: all 0.15s ease-out;
}
.icons-open {
    font-size: 24px;
    transition: all 0.15s ease-out;
}

.item-height-collapse {
    height: 24px !important;
    transition: all 0.15s ease-out;
}
.item-height-open {
    height: 48px !important;
    transition: all 0.15s ease-out;
}